---
title: "Notes"
layout: layouts/base.njk
permalink: /notes/
---

<h1>Notes</h1>

<ul class="post-list">
{%- for note in collections.notes %}
  <li>
    <time datetime="{{ note.date | isoDate }}">{{ note.date | readableDate }}</time>
    <div>{{ note.templateContent | safe }}</div>
    <a href="{{ note.url }}">Permalink</a>
  </li>
{%- endfor %}
</ul>
