---
pagination:
  data: collections.tagPages
  size: 1
  alias: tag
permalink: /tags/{{ tag.slug }}/
eleventyComputed:
  title: "Tagged: {{ tag.slug }}"
layout: layouts/base.njk
---

<h1>Tagged "{{ tag.slug }}"</h1>

<ul class="post-list">
{% for post in tag.posts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title or "Note" }}</a>
    <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ul>
