---
layout: layouts/base.njk
---
<article class="h-entry note">
  <header>
    <time class="dt-published" datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
  </header>

  <div class="e-content">
    {{ content | safe }}
  </div>

  <footer>
    <a class="u-url" href="{{ page.url }}">Permalink</a>
    {% if tags %}
    <div class="tags">
      {%- for tag in tags %}
        {%- if tag != "notes" %}
        <a href="/tags/{{ tag }}/" rel="tag">#{{ tag }}</a>
        {%- endif %}
      {%- endfor %}
    </div>
    {% endif %}
    <span class="p-author h-card" hidden>
      <a class="u-url p-name" href="{{ site.url }}">{{ site.author }}</a>
    </span>
  </footer>
</article>
